/* style.css */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header#page-title {
}

section#the-dream {
}

section#the-first-attempt {
}

section#the-direction-forward {
}

div#call-to-action {
}
